<a href="https://colab.research.google.com/github/gizattos/Python/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [11]:
df = pd.DataFrame([[1,2],[1,2]],columns=['primeiro','segunda'])
#df.columns = ['primeiro']
df

   primeiro  segunda
0         1        2
1         1        2

In [12]:
df.shape

(2, 2)

<h2>Somando Colunas</h2>

In [16]:
df.segunda + df.primeiro
df['segunda'] + df['primeiro']

0    3
1    3
dtype: int64

<h2>Definindo nova coluna</h2>

In [18]:
df['terceira'] = df.segunda + df.primeiro
df

   primeiro  segunda  terceira
0         1        2         3
1         1        2         3

<h2>Lendo e visualizando arquivo com pandas</h2>

In [19]:
df1 = pd.read_csv('Breast_cancer_data.csv')
df1

     mean_radius  mean_texture  ...  mean_smoothness  diagnosis
0          17.99         10.38  ...          0.11840          0
1          20.57         17.77  ...          0.08474          0
2          19.69         21.25  ...          0.10960          0
3          11.42         20.38  ...          0.14250          0
4          20.29         14.34  ...          0.10030          0
..           ...           ...  ...              ...        ...
564        21.56         22.39  ...          0.11100          0
565        20.13         28.25  ...          0.09780          0
566        16.60         28.08  ...          0.08455          0
567        20.60         29.33  ...          0.11780          0
568         7.76         24.54  ...          0.05263          1

[569 rows x 6 columns]

In [25]:
df1[['mean_texture','mean_area']]

     mean_texture  mean_area
0           10.38     1001.0
1           17.77     1326.0
2           21.25     1203.0
3           20.38      386.1
4           14.34     1297.0
..            ...        ...
564         22.39     1479.0
565         28.25     1261.0
566         28.08      858.1
567         29.33     1265.0
568         24.54      181.0

[569 rows x 2 columns]

In [27]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 6 columns):
mean_radius        569 non-null float64
mean_texture       569 non-null float64
mean_perimeter     569 non-null float64
mean_area          569 non-null float64
mean_smoothness    569 non-null float64
diagnosis          569 non-null int64
dtypes: float64(5), int64(1)
memory usage: 26.8 KB

In [28]:
df1.head()

   mean_radius  mean_texture  ...  mean_smoothness  diagnosis
0        17.99         10.38  ...          0.11840          0
1        20.57         17.77  ...          0.08474          0
2        19.69         21.25  ...          0.10960          0
3        11.42         20.38  ...          0.14250          0
4        20.29         14.34  ...          0.10030          0

[5 rows x 6 columns]

In [30]:
df1.sample(3)

     mean_radius  mean_texture  ...  mean_smoothness  diagnosis
374       13.690         16.07  ...          0.08302          1
553        9.333         21.94  ...          0.09240          1
451       19.590         25.00  ...          0.10320          0

[3 rows x 6 columns]

In [31]:
df1.mean_radius >10

0       True
1       True
2       True
3       True
4       True
       ...
564     True
565     True
566     True
567     True
568    False
Name: mean_radius, Length: 569, dtype: bool

In [35]:
df1[df1.mean_radius >10]

     mean_radius  mean_texture  ...  mean_smoothness  diagnosis
0          17.99         10.38  ...          0.11840          0
1          20.57         17.77  ...          0.08474          0
2          19.69         21.25  ...          0.10960          0
3          11.42         20.38  ...          0.14250          0
4          20.29         14.34  ...          0.10030          0
..           ...           ...  ...              ...        ...
563        20.92         25.09  ...          0.10990          0
564        21.56         22.39  ...          0.11100          0
565        20.13         28.25  ...          0.09780          0
566        16.60         28.08  ...          0.08455          0
567        20.60         29.33  ...          0.11780          0

[522 rows x 6 columns]

In [36]:
df1[(df1.mean_smoothness > 0.1) & (df1.mean_radius >10) ]

     mean_radius  mean_texture  ...  mean_smoothness  diagnosis
0          17.99         10.38  ...           0.1184          0
2          19.69         21.25  ...           0.1096          0
3          11.42         20.38  ...           0.1425          0
4          20.29         14.34  ...           0.1003          0
5          12.45         15.70  ...           0.1278          0
..           ...           ...  ...              ...        ...
556        10.16         19.59  ...           0.1003          1
562        15.22         30.62  ...           0.1048          0
563        20.92         25.09  ...           0.1099          0
564        21.56         22.39  ...           0.1110          0
567        20.60         29.33  ...           0.1178          0

[196 rows x 6 columns]

In [39]:
##Primeira linha da primeira coluna
df1.iloc[1,1]

17.77

In [43]:
##Primeira linha da coluna mean_texture
df1.loc[1,'mean_texture']

17.77

<h2>Salvando em CSV</h2>

In [0]:
df2 = df1[['mean_texture','mean_area']]
df2.to_csv('novos_dados.csv')